<%= form_with(model: @diary, local: true ,url: choose_new_or_edit ) do |form| %>

  <% if @diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= @diary.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @diary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>

  <div class="diary_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", diaries_path %>