<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @diary, url: diaries_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>本文:<%= @diary.content %></p>
  <%= form.submit  "登録する" %>
<% end %>
<br>

<%= form_with(model: @diary, url: new_diary_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  
  <%= form.submit "もどる", name:'back' %>
<% end %>